body {
  font-family: "Open Sans", sans-serif;
  background-color: #434343;
  color: white; }

.fa {
  color: goldenrod; }

#logo {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  height: 62px;
  width: 200px; }

@media screen and (max-width: 575px) {
  .homeItem {
    margin-top: 40px; } }

h1,
h2,
h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: goldenrod; }

header h2 {
  color: maroon; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar, .dropdown-menu, .dropdown-item {
  background-color: black;
  color: white; }

.site-footer {
  background-image: linear-gradient(black, maroon);
  padding: 20px 0; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.mediaBackground {
  background-color: rgba(0, 0, 0, 0.2); }

.carousel {
  border: solid maroon;
  max-height: 406px;
  max-width: 610px; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#loginModal .modal-header {
  background-color: black;
  color: white; }

#reserveModal .modal-header {
  background-color: #17a2b8;
  color: white; }

.tavernBanner {
  background-image: url("/img/TavernBanner.jpg"); }

.dranks {
  color: goldenrod;
  font-size: 4rem; }

.drinkList p {
  font-size: 2rem; }

.card {
  background-color: rgba(0, 0, 0, 0.5); }
