$color-primary: goldenrod;
$color-secondary: maroon;
$color-pale: maroon;
$color-mid: black;
$color-dark: black;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17a2b8;

$body-font: 'Open Sans', sans-serif;
$header-font: 'Lobster', cursive;

body {
  font-family: $body-font;
  background-color: #434343;
  color: white;
}

.fa {
  color: $color-primary;
}


#logo {
  position: absolute;
  z-index: 1;
  // Use your own values for anything below this line.
  left: 10px;
  top: 10px;
  height: 62px;
  width: 200px;
}

@media screen and (max-width: 575px) {
  .homeItem {
  margin-top: 40px;
}
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  h2 {
    color: $color-pale;
  }
}


.jumbotron {
  // margin: 0;
  // padding: 30px;
  
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar, .dropdown-menu, .dropdown-item{
  background-color: $color-dark;
  color: white;
}

.site-footer {
  background-image: linear-gradient($color-dark, $color-secondary);
  padding: 20px 0;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.mediaBackground {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel {
  border: solid $color-secondary;
  max-height: 406px;
  max-width: 610px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#loginModal {
  .modal-header {
    background-color: $color-dark;
    color: white;
  }
}

#reserveModal {
  .modal-header {
    background-color: $color-teal;
    color: white;
  }
}

.tavernBanner {
  background-image: url("/img/TavernBanner.jpg") ;
}

.dranks {
  color: $color-primary;
  font-size: 4rem;
}

.drinkList {
  p{
    font-size: 2rem;
  }
}